In [13]:
import pandas as pd
import numpy as np
import pickle

In [37]:
gene_networks = pd.read_csv('edges11_gene.csv')
gene_mat = pd.read_csv('C:/Users/ramka/Documents/gene_matrix.csv')
meth_df = pd.read_csv('C:/Users/ramka/Documents/methylation_matrix.csv')
meth_networks = pd.read_csv('edges11_meth.csv')

In [38]:
meth_value_to_index = {value: idx for idx, value in meth_df['Unnamed: 0'].items()}
gene_value_to_index = {value: idx for idx, value in gene_mat['Unnamed: 0'].items()}

In [39]:
meth_networks['Feature1'] = meth_networks['Feature1'].map(meth_value_to_index)
meth_networks['Feature2'] = meth_networks['Feature2'].map(meth_value_to_index)
meth_networks = meth_networks.drop('Unnamed: 0', axis= 1)
meth_networks.to_pickle('edges11_meth.pkl')
gene_networks['Feature1'] = gene_networks['Feature1'].map(gene_value_to_index)
gene_networks['Feature2'] = gene_networks['Feature2'].map(gene_value_to_index)
gene_networks = gene_networks.drop('Unnamed: 0', axis= 1)
gene_networks.to_pickle('edges11_gene.pkl')

In [44]:
with open("C:/Users/ramka/Supreme_updated_ver/edges11_gene.pkl", 'rb') as f:
        feat = pickle.load(f)

In [45]:
feat.head(12)

    Feature1  Feature2  Correlation
0          0         0     1.000000
1          0       176     0.933697
2          0       295     0.930147
3          0       175     0.928622
4          0       307     0.926512
5          0       178     0.925890
6          0       236     0.925622
7          0       317     0.925618
8          0       235     0.924684
9          0       193     0.924253
10         0       192     0.923739
11         1         1     1.000000